
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.verse-hero {
  background-image: url("images/mountain.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: 105%;
  padding-top: 100px;
  width: 100%;
  margin-bottom: 2px;
  height: 85vh;
}

.verse-hero ul {
  list-style: none;
}

.align-center {
  align-items: center;
}

.just-center {
  text-align: justify;
}

.grid {
  display: grid;
}

.verse-hero li {
  border: 1px grey solid;
  font-weight: 100;
}

.grey-grad {
  background-image: linear-gradient(rgb(100, 100, 100) 50%, rgb(124, 124, 124) 50%)
}

.left-nav-item {
  border-radius: 5px 0 0 5px;
}

.right-nav-item {
  border-radius: 0 5px 5px 0;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
}

.top-nav {
  display: grid;
  grid-template-columns: repeat(8, 104px) 132px;
  height: 36px;
}

.top-nav a {
  text-decoration: none;
  color: white;

}

.w100 {
  width: 100%;
}

.promos {
  width: 100%;
}

.promos-nav {
  margin: 0;
}

.promos ul {
  list-style: none;
  display: block;
}
