
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.principal {
  background-image: url("images/mountain.jpg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;
  padding-top: 50px;
  width: 100%;
  margin-bottom: 2px;
  height: 85vh;
}

.principal ul {
  list-style: none;
}

.align-center {
  justify-content: center;
}

.m5 {
  margin-top: 7%;
}

.just-center {
  text-align: justify;
}

.grid {
  display: grid;
}

.principal li {
  border: 1px grey solid;
  font-size: 0.8em;
}

.grey-grad :hover{
  background-color: #5f6769;
}

.grey-grad {
  background-image: linear-gradient(rgb(100, 100, 100) 50%, rgb(124, 124, 124) 50%)
}

.left-nav-item {
  border-radius: 5px 0 0 5px;
}

.right-nav-item {
  border-radius: 0 5px 5px 0;
}

.right-nav-item input {
  border-radius: 10px;
}

.right-nav-item i {
  color: white;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
}

.top-nav {
  display: grid;
  grid-template-columns: repeat(8, 104px) 150px;
  height: 36px;
  margin-left: 100px;
}

.top-nav a {
  text-decoration: none;
  color: white;

}

.promos {
  width: 100%;
}

.promos-nav {
  margin: 0;
}

.promos ul {
  list-style: none;
  display: block;
}

.w100 {
  width: 100%;
}

.main-text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  padding-top: 100px;
}

.main-text a {
  font-weight: bold;
  font-size: 3.5em;
  text-decoration: none;
  color: white;
  position: absolute;
  padding-top: 70px;
}

.main-text p {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  padding-top: 120px;
  position: relative;
}

.bottom-links li {
  list-style: none;
  display: inline;
  font-size: 12px;
  margin-right: 10px;
}

.bottom-links li a {
  text-decoration: none;
}

.bottom-links li:hover {
  text-decoration: underline;
}

.left {
  float: left;
  font-size: 10px;
}

.right {
  float: right;
}
